.font-jakarta-noto {
  font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
}

.hero-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("image/hero-background.png");
}

.avatar-sophia {
  background-image: url("image/avatar-sophia.png");
}

.avatar-ethan {
  background-image: url("image/avatar-ethan.png");
}

.avatar-olivia {
  background-image: url("image/avatar-olivia.png");
}