<div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden font-jakarta-noto">
  <div class="layout-container flex h-full grow flex-col">
    <app-header></app-header>
    <div class="px-40 flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <app-hero></app-hero>
        <app-features></app-features>
        <app-testimonials></app-testimonials>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
